* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header {
    min-width: 1000px;
    padding: 15px 0px 75px 0px; 
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.summary {
    display: flex;
    margin: auto;
}

.image {
    background-color: #8d8b8b;
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 400px;
}

.button1,
.button2 {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 5px;
    flex-shrink: 0;
}

.button1 {
    border: 0;
}

.button2 {
    border: 2px solid;
}

.testimonials {
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.images {
    display: flex;
}

.image1 {
    border: #3882f6 solid 3px;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.image-content{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer feedback {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

.quote, 
.name {
    color: #1F2937;
}

.quote {
    font-size: 36px;
    text-align: left;
    font-weight: 100;
    height: auto;
    width: 900px;
}

.name {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    background-color: white;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CTA {
    background-color: #3882f6;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 100px;
    border-radius: 10px;
}

.call-to-action h4 {
    font-size: 24px;
}

.call-to-action p {
    font-size: 18px;
}

.copyright {
    background-color: #1F2937;
    height: 100px;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}